body {
  margin: 0;
}
.header {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}
.menu {
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
  width: 95%;
}
.nav {
  display: flex;
  justify-content: space-around;
  column-gap: 1em;
}
.nav-item {
  padding: 12px 20px;

  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 5%;
  text-transform: uppercase;
  font-family: Montserrat;
}
.header-logo {
  padding: 8px 20px;
}
/*.nav-panel {
  display: flex;
  column-gap: 4em;
  justify-content: space-between;
  letter-spacing: inherit;
}
  */
/* .header-logo {
  margin-right: 1000px;
} */
.content {
  background-image: url("img/bg-ball.png"), url("img/bg-snow.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #ff4646;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
  background-position: top;
}
.caption {
  font-family: Allura;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 5%;
  color: #ffffff;
}
.header-1 {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 18%;
  text-transform: uppercase;
  color: #ffffff;
}
