html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #ff4646;
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}
body .root {
  background-image: url("img/bg-snow.png");
  background-size: contain;
}
.header {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}
.menu {
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
  width: 95%;
}
.nav {
  display: flex;
  justify-content: space-around;
  column-gap: 1em;
}
.nav-item,
.action-small {
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: Montserrat;
}
.content {
  background-image: url("img/bg-ball.png"), url("img/bg-snow.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ff4646;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
  background-position: top;
  padding: 169px;

  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.caption {
  font-family: Allura;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 5%;
  color: #ffffff;
}
.header-1 {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 12px;
}
.header-2,
h2 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: black;
  margin: 20px auto;
}
button,
.button {
  border-radius: 20px;
  padding: 20px 32px;
  color: #ffffff;
  background-color: rgb(24, 28, 41);
  margin: 12px auto;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 5%;
  text-transform: uppercase;
  font-family: Montserrat;
  border-style: solid;
}
.button:hover,
button:hover {
  background-color: #ffffff;
  color: rgb(24, 28, 41);
  border-color: #ffffff;
  cursor: pointer;
  transition-duration: 0.75s;
}
.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  column-gap: 10px;
  margin-left: 12px;
}
.nav-menu {
  padding: 12px 20px;
  margin-right: 12px;
  cursor: pointer;
}
.red {
  color: #ff4646;
  margin-top: 60px;
}
.paragraph {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 148%;
  padding: 16px 0;
  margin: 0;
}
.about-container {
  display: flex;
  width: 90%;
  height: 70%;
  margin: 60px auto;
  background-color: #ffffff;
}
.about {
  border-radius: 20px;
}
.img-in-text {
  border-radius: 20px;
}
.text-about {
  margin: auto 60px;
  text-align: left;
  margin-left: 85px;
  margin-right: 150px;
}
.img-in-text {
  height: 100%;
}
.best-gifts-section {
  margin: 60px auto;
  text-align: center;
}
.slider-text {
  font-family: Montserrat;
  font-size: 80px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}
.white {
  color: #ffffff;
}
.slider-wrapper {
  position: relative;
  margin: 20px 0 188px 70px;
}
.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  align-items: center;
}
.slider img {
  border-radius: 20px;
}
.slider-block {
  scroll-snap-align: start;
  margin: 0 12px;
}
.slider-nav {
  display: flex;
  column-gap: 20px;
  position: absolute;
  left: 90%;
  transform: translate(-50%);
  z-index: 1;
}
.slider-nav .button,
.slider-nav button {
  width: 56px;
  height: 56px;
  text-align: center;
  padding: 20px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border-color: rgb(255, 255, 255);
  border-width: 1px;
  z-index: 1;
}
.slider-nav .button:hover,
.slider-nav button:hover {
  background-color: #ffffff;
  color: #ff4646;
  transition-duration: 0.5s;
}
.best-gifts-section-card .header-2 {
  color: #ffffff;
}
.best-gifts-section-card {
  text-align: center;
}
.best-gifts-section-card .caption {
  margin-top: 60px;
}
.header-4 {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
h3 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.container-card {
  display: flex;
  column-gap: 1em;
  justify-content: center;
  /* margin-bottom: 60px; */
  flex-wrap: wrap;
  row-gap: 1em;
}
.card img {
  width: 310px;
  height: 230px;
  background-color: rgb(237, 243, 248);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.card {
  width: 310px;
  height: 342px;
  background-color: #ffffff;
  border-radius: 20px;
  text-align: left;
}

.card-text {
  padding-left: 14px;
}
.action-item {
  transition: transform 0.5s;
}
.action-item:hover {
  transform: scale(1.02);
}
.CTA {
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
}
.CTA h2,
.CTA .header-2 {
  color: #ffffff;
}
.timer {
  background-color: rgb(255, 144, 144);
  width: 320px;
  margin: 0 auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 12px 8px;
}
.timer span {
  width: 80px;
}
h4,
.header-4 {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}
.timer .header-2 {
  margin: 0;
}
.timer .header-4 {
  margin: 0;
}
.vr {
  width: 0px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  height: 20px;
}
.text-CTA {
  width: 426px;
  margin: 0 auto;
  padding: 160px 0;
  /* height: 428px; */
}
.background-CTA {
  background-image: url("img/bg-forest.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* padding: 140px 0; */

  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #ff4646;
}

.header-CTA {
  /* Header 2 */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 152%;
  /* or 36px */
  text-align: center;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

  margin: 0;
  margin-bottom: 20px;
}

.text-CTA > button,
.text-CTA > .button {
  margin: 0;
}

.text-CTA > .caption {
  margin: 20px 0 8px;
}
.footer {
  text-align: center;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 12px;
  row-gap: 12px;
  max-width: 1276px;
  margin: 0 auto;
  padding: 60px 15px 0;
  background-color: #ffffff;
}
.footer-card {
  background-color: rgb(237, 243, 248);
  height: 204px;
  min-width: 380px;
  border-radius: 30px;
  padding-top: 20px;
  box-sizing: border-box;
  flex: 1;
}
.footer {
  background-color: #ffffff;
}
.action-big {
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  font-family: Montserrat;
}
.footer-card p {
  margin: 12px auto;
}
.footer > .caption {
  margin: 0;
}
.footer > p {
  background-color: inherit;
}
@media (max-width: 1200px) {
  .footer-container {
    flex-direction: column;
  }
}
.socia-media {
  padding-top: 60px;
  background-color: inherit;
}
.socia-media img {
  width: 24px;
  height: 24px;
  margin: 0 12px 12px;
}
.footer .caption {
  color: black;
  padding-bottom: 60px;
}
.header-logo:hover {
  cursor: pointer;
}
.nav-menu:hover,
.nav-menu.selected {
  color: #ff4646;
  background-color: rgba(255, 70, 70, 0.1);
  border-radius: 10px;
}
.nav-menu.selected {
  cursor: default;
}
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-menu {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
.text {
  background-image: url(img/bg-garland.svg);
  background-size: cover;
  background-repeat: no-repeat;

  background-color: #ff4646;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.text .header-1 {
  width: 426px;
  margin: 0 auto;
  padding-top: 56px;
  text-align: center;
  margin-bottom: 20px;
}
.menu-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;
  width: 447px;
  height: 40px;
  margin: 20px auto;
}
.menu-cards p {
  box-sizing: border-box;
  padding: 10px;
}
.menu-cards p:hover,
.menu-cards p.selected {
  cursor: pointer;
  background-color: rgba(255, 107, 107);
  border-radius: 10px;
}
.card-selection {
  padding-bottom: 60px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #ff4646;
}
.date-info {
  display: flex;
  flex-direction: column;
}
.category-for-work {
  color: rgb(68, 97, 255);
}
.category-for-health {
  color: rgb(8, 164, 78);
}
.category-for-harmony {
  color: rgb(255, 68, 247);
}
.bg-color-white {
  background-color: #ffffff;
}
